/* Estilo para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Estilo para el título h1 */
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilo para los párrafos p */
  p {
    margin-bottom: 10px;
    color: #666;
  }
  
  /* Estilo para los campos de entrada input */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para el botón de envío */
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  