/* Estilos generales de la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px; /* Ancho máximo de la tabla */
    margin: 0 auto; /* Centra la tabla en el contenedor */
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos de la cabecera de la tabla */
  th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #e0e0e0;
  }
  
  /* Estilos de las celdas de la tabla */
  td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* Estilos para filas alternas (para un efecto de filas alternas con diferente fondo) */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilos para enlaces en las celdas (pueden variar según tus necesidades) */
  button {
    text-decoration: none;
    color: white;
    background-color: black;
    margin: 1px;
  }
  button:hover {
    text-decoration: underline;
  }
  